<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket Learn - Auth</title>
    <link rel="stylesheet" href="/global/global.style.css" type="text/css" />
    <link rel="stylesheet" href="/component/auth/style.css" type="text/css" />
    <script src="/component/auth/script.js" type="module" defer></script>
</head>

<body>
    <div class="login-container">
        <h2 class="site-name-heading">Socket Learn</h2>
        <p class="auth-description">
            Login or register to connect
        </p>
        <form class="user-auth">
            <input type="text" class="user-name-field" placeholder="User name" /><br />
            <span class="have-acc-que">Don't have an account?</span>
            <div class="auth-opts">
                <a href="#" class="create-account">Create account</a>
                <button class="login-btn" type="submit">Login</button>
            </div>
        </form>
    </div>
</body>

</html>